{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <!-- Website CSS style -->
  <link href="{% static 'css/registration.css' %}" type="text/css" rel="stylesheet">

  <!-- Website Font style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

  <title>Matching Site</title>
</head>

<body>
  <div class="col-sm-3">
  </div>
  <div class="container col-sm-6">
    <div class="row main">
      <div class="main-login main-center">
        <h3 id="mainTitle">Register</h3>
        <form class="" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {% if invalid %}
          Your passwords did not match
          {% endif %}
          {% if form.errors %}
          <p> There are errors in the form!</p>
          {% endif %}
          {{ form.as_p }}
          <input style="color:black;" class="form-control btn btn-secondary" type="submit" value="Register">
        </form>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>

</html>
