<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

</head>

<body>
  <h1> Home Page </h1>
  {% if user.is_authenticated %}

  <img width="10%" height="10%" src="" id="profilepic"/>

    <script type="text/javascript">
    $(document).ready(function() {
      //THIS AJAX REQUEST GETS ALL THE USER DETAILS

      var myId = 5;

      $.ajax(
        {
          url: 'users',
          type: 'get',
          success: function(data) {

            console.log(data)

            addEntry(data.username ,data.first_name, data.last_name, data.dob, data.email, data.gender, data.image);


            for (j=0; j<data.hobUser.length; j++)
            {
              addHobby(data.hobUser[j].name + "<br>")
            }


          },
          failure: function(data) {
            alert('error');
          }
        }
      )

    })
  </script>

<script type="text/javascript">
  function addEntry(username, first_name, last_name, dob, email, gender, image) {
      $('#userInfo').append('<br/>')

      $('#userInfo').append('<div id="userId' + '" ><h3> <ul><li>DOB:' + username + " " + first_name + " " + last_name + " " + dob + " " +email + " " + gender)
      $('#profilepic').attr("src",image)

    }
    </script>

    <script type="text/javascript">
      function addHobby(name) {

          $('#userInfo').append('<br/>')

          $('#userInfo').append(name)

        }
        </script>


  <span id="userInfo" style="font-weight:bold">User Info</span>

    {% else %}
    <h2> You are not logged in.</h2>
  {% endif %}
  <form action ="{% url 'logout' %}" enctype="multipart/form-data">

    <p><input  style="height:50px;width:200px" type = "submit" value = "Logout"> </p>
  </form>
  </body>
</html>
